body{
	margin: 0;
	padding: 10px;
	font-family:Arial,Helvetica;
	/*min-width:100px;*/

}
input{
	padding: 10px ;
	width:100%;
	box-sizing:border-box;
	margin-bottom: 4px;
	border:1.5px solid #5f9341;
}
button{
	padding: 20px 10px ;
	background: #5f9341;
	color:white;
	border:1px solid #5f9341;
	font-weight:bold;
}

ul{
	margin-top:20px;
	padding-left:0;
	list-style-type:none;
}
li{

	color:#5f9341;
	margin-top:5px;


}
a{
	color:#5f9341;

}
#delete-btn{
	background:white;
	color:#5f9341;
}